.App {}

p, h2, h4 {
    padding-left: 20px;
}

button {
    display: block;
    border: rgba(255, 255, 255, 0);
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    height: 40px;
    width: 140px;
    margin-left: 20px;
}

.header {
    display: flex;
    color: white;
    background-color: black;
}

.list {
    border-bottom: 1px solid grey;
}